#md-textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.create-link-well {
    margin: 20px;
}

.new-link-button {
    margin-top: 10px;
}